.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
