/* Start Settings Box */
.setting-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  min-height: 100vh;
  z-index: 1000;
  transition: 0.3s;

  &.open {
    left: 0;
  }

  .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    
    .fa-gear {
      padding: 8px 0;
      width: 30px;
    }
  }

  .option-box {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;

    h4 {
      margin: 0;
      color: #666;
      font-size: 14px;
    }

    .colors-list {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 10px 0 0;

      li {
        width: 25px;
        height: 25px;
        background-color: #333;
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        border: 3px solid #eee;

        &.active {
          border-color: #fff;
        }
      }
    }
  }

  .random-backgrounds {
    .yes,
    .no {
      width: 50px;
      background-color: #009688;
      color: #fff;
      margin-top: 10px;
      display: inline-block;
      padding: 4px 10px;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
      opacity: 0.5;
      cursor: pointer;
    }

    span.active {
      opacity: 1;
    }
  }
}
/* End Settings Box */

@keyframes gear-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
